:root {
  --primary: #1dd100;
  --primary-light: #e8fae6;
  --text-dark: #030712;
  --text-gray: #4f5159;
  --text-lightgray: #676a70;
  --bg-lightgray: #f7f8f8;
  --bg-mediumgray: #ebeced;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-gray);
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

.container {
  max-width: 1000px;
  margin: auto;
  /* padding: 0 15px; */
  /* border: 1px solid black; */
}

header {
  padding: 0 15px;
}

nav {
  padding: 20px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  font-weight: 700;
  color: var(--text-dark);
  font-size: 1.2rem;
}

.nav_links {
  display: flex;
  gap: 25px;
  font-size: 0.85rem;
}

nav .bars_icon {
  display: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.3rem;
}

nav button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary);
  font-weight: 700;
  border: 1px solid var(--primary);
  background: var(--primary-light);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

nav button img {
  width: 20px;
}

.banner_section {
  text-align: center;
  min-height: 450px;
  place-content: center;
  background: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.banner_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000085;
}

.banner_section .banner_content {
  z-index: 11;
  position: relative;
  padding: 0 10px;
}

.banner_section h1 {
  font-size: 2.3rem;
}

.banner_section h1 span:first-child {
  color: white;
}

.banner_section span:nth-child(2) {
  display: block;
  color: var(--primary);
}

.banner_section small {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: #c9c9c9;
}

.banner_section button {
  background: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

header .card_group {
  display: flex;
  gap: 15px;
  justify-content: center;
  position: relative;
  bottom: 50%;
  transform: translateY(-50%);
}

header .card_group .card {
  border-bottom: 3px solid lightgreen;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  background: white;
  padding: 15px 30px;
}

header .card_group .card img {
  width: 40px;
}

header .card_group .card h3 {
  font-size: 1.3rem;
  color: var(--text-gray);
}

header .card_group .card small {
  font-size: 0.8rem;
  text-wrap: nowrap;
  color: var(--text-lightgray);
}

#offer_section {
  padding: 70px 0;
  margin-bottom: 50px;
}

#offer_section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-dark);
}

.offer_cards {
  /* border: 1px solid red; */
  display: flex;
  gap: 25px;
  padding: 0 15px;
}

.offer_cards .offer_card {
  display: flex;
  flex: 1;
  border-radius: 20px;
  padding: 0 30px;
  position: relative;
}

.offer_card .discount {
  flex: 2;
}

.offer_card .coupon_code {
  flex: 1;
}

.offer_cards .offer_card:nth-child(1) {
  background: #ffbf0f;
}

.offer_cards .offer_card:nth-child(2) {
  background: #f78c9c;
}

.offer_cards .offer_card h3 {
  color: var(--text-dark);
  font-size: 1.5rem;
}
.offer_cards .offer_card p {
  color: var(--text-gray);
  margin-right: 5px;
}
.offer_cards .offer_card small {
  color: var(--text-lightgray);
  font-size: 0.7rem;
}

.offer_cards .offer_card .divider {
  position: absolute;
  height: 100%;
  right: 37%;
  top: 0;
}

.offer_cards .offer_card .divider img {
  height: 100%;
}

.offer_cards .offer_card .discount,
.offer_cards .offer_card .coupon_code {
  padding: 30px 0;
}

.offer_button {
  text-align: center;
  margin-top: 15px;
}

.offer_button button {
  background: white;
  border: 1px solid var(--primary);
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  color: var(--primary);
}

main {
  padding: 0 15px;
}

main .container {
  background: var(--bg-lightgray);
  padding: 70px 15px;
  border-top: 3px solid var(--primary);
  border-radius: 20px;
}

main .container h2 {
  text-align: center;
  color: var(--text-dark);
}

main .container p {
  text-align: center;
  max-width: 70%;
  margin: auto;
}

main .info_section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

main .info_section .info {
  flex: 4;
  padding: 30px;
  position: relative;
}

main .info_section .info .info_divider {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

main .info_section .info .info_divider img {
  height: 100%;
}

main .info_section .fare {
  padding: 30px;
  flex: 1;
  text-align: center;
}

main .info_section .fare h3 {
  color: var(--text-dark);
  margin-top: 10px;
  font-size: 1.3rem;
}

.info_section .heading_section {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 30px;
}

.info_section .heading_section .heading {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info_section .heading_section .heading h3 {
  font-size: 1.5rem;
}

.info_section .heading_section .heading small {
  color: var(--text-lightgray);
  font-size: 0.7rem;
}

.info_section .heading_section .seats_left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary);
  font-weight: 700;
  background: var(--primary-light);
  padding: 5px 15px;
  border-radius: 8px;
}

main .info_section .info .bus_info {
  margin-right: 50px;
  padding: 30px;
  border-radius: 15px;
  background: var(--bg-lightgray);
}

main .info_section .info .bus_info .info_one,
main .info_section .info .bus_info .info_two {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed lightgray;
  padding: 15px 0;
}

main .info_section .info .bus_info .info_one span:nth-child(2),
main .info_section .info .bus_info .info_two span:nth-child(2) {
  font-weight: 700;
}

main .info_section .info .bus_info .info_three {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-top: 15px;
  font-weight: 700;
}

main .info_section .info .bus_info .info_three div {
  background: var(--bg-mediumgray);
  padding: 10px 15px;
  border-radius: 8px;
}

.main_section {
  display: flex;
  padding: 50px 30px;
  background: white;
  margin-top: 50px;
  border-radius: 15px;
}

.main_section .bus_section {
  flex: 1.5;
  border-right: 2px dashed lightgray;
  padding-right: 30px;
}

.main_section .calculation_section {
  flex: 1;
  /* border: 1px solid red; */
  padding-left: 30px;
}

.main_section .bus_section h3 {
  color: var(--text-dark);
  font-size: 1.4rem;
  border-bottom: 2px dashed lightgray;
  padding: 15px 0;
}

.main_section .bus_section .info {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed lightgray;
  padding: 15px 0;
}

.main_section .bus_section .info div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_section .bus_section .info div:nth-child(2) span {
  color: var(--primary);
}

.main_section .bus_section .bus {
  margin-top: 30px;
}

.main_section .bus_section .bus .seat_row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.main_section .bus_section .bus .driver_seat {
  display: flex;
  justify-content: end;
}

.main_section .bus_section .bus .driver_seat .steering_wheel {
  background: var(--bg-mediumgray);
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 10px;
}

.main_section .bus_section .bus .driver_seat img {
  width: 20px;
}

.main_section .bus_section .bus .seat_row .seat {
  background: var(--bg-lightgray);
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}

.main_section .bus_section .bus .seat_row .seat:nth-child(3) {
  margin-right: 20px;
}

.main_section .calculation_section h3 {
  color: var(--text-dark);
  font-size: 1.4rem;
  border-bottom: 2px dashed lightgray;
  padding: 15px 0px;
}

.main_section .calculation_section .selected_seats_section {
  background: var(--bg-lightgray);
  margin: 15px 0 30px 0;
  padding: 15px;
  border-radius: 10px;
}

.main_section .calculation_section .selected_seats {
  /* border: 1px solid red; */
}

.main_section .calculation_section .heading .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-dark);
}

.main_section .calculation_section .heading .row span {
  font-size: 0.7rem;
  background: var(--primary);
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
}

.main_section .calculation_section .selected_seats {
  border-bottom: 2px solid lightgray;
}

.main_section .calculation_section .selected_seats .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main_section .calculation_section .selected_seats .row .col {
  text-align: left;
}

.main_section .calculation_section .total_price,
.main_section .calculation_section .grand_total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-dark);
  margin-top: 10px;
}

.main_section .calculation_section .coupon_input {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.main_section .calculation_section .coupon_input input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
}
.main_section .calculation_section .coupon_input button {
  margin-top: 0;
}

.main_section .calculation_section form {
  /* border: 1px solid red; */
}

.main_section .calculation_section .input_group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.main_section .calculation_section label {
  color: var(--text-dark);
  font-weight: 500;
}

.main_section .calculation_section form input {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.main_section .calculation_section button {
  background: var(--primary);
  border: none;
  padding: 12px;

  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-top: 15px;
}

.main_section .calculation_section form button {
  width: 100%;
}

.main_section .calculation_section footer {
  margin-top: 20px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  background: transparent;
}

footer {
  background: var(--text-dark);
  color: white;
  padding: 50px 0;
}

footer .container {
  padding: 0 15px;
}

footer .info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

footer .info h4 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

footer .info p {
  color: lightgray;
}

footer .info p span {
  display: block;
}

footer .info .app_link {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  padding: 5px 15px;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

footer .info .app_link h5 {
  font-size: 1.2rem;
}

footer .copyright_section {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed var(--text-lightgray);
  padding-top: 30px;
}

footer .copyright_section small:nth-child(2) {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 400px) {
  footer .info p span {
    display: inline;
  }
}

@media only screen and (max-width: 950px) {
  main {
    padding: 0;
  }

  main .info_section .info .info_divider {
    display: none;
  }

  main .info_section {
    flex-direction: column;
    align-items: stretch;
  }

  .info_section .heading_section,
  main .info_section .info .bus_info {
    margin-right: 0;
  }

  main .info_section .info .bus_info .info_three {
    gap: 10px;
  }

  main .container p:nth-child(2) {
    text-wrap: balance;
    display: inline;
  }
}

@media only screen and (max-width: 800px) {
  .offer_cards {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }

  .main_section {
    flex-direction: column;
  }

  .main_section .bus_section {
    border-right: none;
    padding-right: 0;
  }

  .main_section .calculation_section {
    padding-left: 0;
  }

  footer .copyright_section {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .info_section .heading_section {
    flex-direction: column;
    gap: 10px;
  }

  .info_section .heading_section .seats_left {
    justify-content: center;
  }

  .info_section .heading_section .heading h3 {
    font-size: 1.3rem;
  }

  main .info_section .info .bus_info .info_three {
    flex-direction: column;
    text-align: center;
  }

  .heading img {
    width: 50px;
  }

  main .info_section .info .bus_info {
    padding: 20px;
  }

  main .info_section .info {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  nav .bars_icon {
    display: block;
  }

  nav {
    position: relative;
  }

  nav .nav_links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: white;
    z-index: 111;
  }

  header .card_group .card small {
    display: none;
  }

  header .card_group .card {
    gap: 10px;
    padding: 10px 20px;
  }

  header .card_group .card h3 {
    font-size: 1.1rem;
  }

  main .container p {
    max-width: 85%;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 650px) {
  .banner_section h1 {
    font-size: 2.1rem;
  }

  .banner_section small {
    width: 80%;
  }

  footer .info {
    flex-direction: column;
    align-items: start;
  }

  footer .info .download_our_app {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  header .card_group .card {
    flex-direction: column;
    gap: 0;
  }

  header .card_group .card img {
    width: 30px;
  }

  header .card_group .card h3 {
    font-size: 1.05rem;
  }
}

@media only screen and (max-width: 500px) {
  .banner_section span:nth-child(2) {
    display: inline-block;
  }

  .banner_section small {
    width: 90%;
  }
}
